.stories-card{
  padding: 30px 25px;
  max-width: 377px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  border-radius: 10px;
  min-height: 631px;
}

/*.stories-card__picture{
  border-radius: 139.5px;
  max-height: 279px;
  width: 100%;
  max-width: 282px;
  object-fit: contain;
}*/

.stories-card__picture{
  border-radius: 139.5px;
  height: 279px;
  width: 100%;
  max-width: 282px;
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: contain;
}

.stories-card__picture_1{
  background-image: url(../../images/expertpic.jpg);
}

.stories-card__picture_2{
  background-image: url(../../images/expertpic2.jpg);
}

.stories-card__picture_3{
  background-image: url(../../images/expertpic3.jpg);
}

.stories-card__picture_4{
  background-image: url(../../images/expertpic4.jpg);
}


.stories-card__about{
  margin: 20px 0;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  min-height: 36px;
}

.stories-card__text{
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.stories-card__box{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1279px) {}

@media screen and (max-width: 1023px) {
}

@media screen and (max-width: 767px) {
  .stories-card{
    padding: 20px 21px 20px;
    max-width: 308px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    min-height: 443px;
  }
  .stories-card__picture{
    border-radius: 139.5px;
    height: 195px;
    width: 100%;
    max-width: 197px;
  }
  .stories-card__about{
    font-size: 14px;
    line-height: 16px;
    margin: 10px 0;
  }
  .stories-card__text{
    font-size: 16px;
    line-height: 19px;
  }
}
