.vacancy__navbar{
  max-width: 951px;
  margin-top: 35px;
  margin-bottom: 47px;
}

.vacancy__navbar-list{
  list-style-type: none;
  margin: 0;
  display: flex;
  gap: 30px;
  flex-direction: row;
  padding: 0;
  align-items: center;
}

.vacancy__navbar-item{
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #969696;
  cursor: pointer;
  transition: color 0.3s ease-out;
}

.vacancy__navbar-item:hover{
  color: #181818;
  transition: color 0.3s ease-out;
}

.vacancy__navbar-item_active{
  color: #181818;
}

@media screen and (max-width: 1262px) {
  .vacancy__navbar{
    max-width: 640px;
    flex-shrink: 2;
  }
}

@media screen and (max-width: 1100px) {
  .vacancy__navbar-list{
    gap: 18px;
  }
  /*.vacancy__navbar{
    max-width: 640px;
    flex-shrink: 2;
  }*/
}

@media screen and (max-width: 1103px) {
  .vacancy__navbar-item{
    font-size: 16px;
    line-height: 19px;
  }
}

@media screen and (max-width: 894px) {
  .vacancy__navbar-list{
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .vacancy__navbar{
    width: 100%;
    margin-top: 25px;
    margin-bottom: 30px;
  }
  .vacancy__navbar-list{
    gap: 18px;
  }
}

