.tabSkills__text {
  padding: 15px 35px;
  box-sizing: border-box;
  border-radius: 50px;
  border: 1px solid #969696;
  background: transparent;
  margin-bottom: 35px;
  cursor: pointer;
  text-align: left;
  outline: none;
  transition: linear 0.2s;
}

.active, .tabSkills__text:hover {
  background: #969696;
  color: #FFFFFF;
}

.tabSkills__text_size_fix {
  width: 357px;
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 860px) {
  .tabSkills__text {

  }
}
