.tabSkills__text {
  padding: 15px 35px;
  box-sizing: border-box;
  border-radius: 50px;
  border: 1px solid #969696;
  background: transparent;
  margin-bottom: 35px;
  cursor: pointer;
  text-align: left;
}

.tabSkills__text-active {
  background: #969696;
  color: #FFFFFF;
}
