.slider__box{
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}

.slider_slide-box{
  max-width: 700px;
}



/*.swiper-slide {
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}*/

@media screen and (max-width: 600px) {
  .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 377px;
  }

  /*.swiper-button-prev{
    left: 0px;
  }*/

  .swiper{
    padding-left: 15px;
    padding-right: 15px;
  }
}


.swiper{
  max-width: 1440px;
}

.swiper-pagination-bullets {
  /*margin-bottom: -10px; работает*/
}

@media screen and (min-width: 600px) {
  .swiper-button-prev::after {
    /*display: none;*/
    display: block;
    margin-right: 0px;
    position: absolute;
    margin-top: 0
  }
  .swiper-button-next::after {
    /*display: none;*/
    display: block;
    margin-left: 0px;
    position: absolute;
    margin-top: 0
  }
}

/*.swiper .swiper-wrapper, .swiper-container-rtl {
  color:brown;
  width: 50px;
  }*/

  .swiper-slide,.swiper-slide-active,.swiper-slide-next{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0;
  }

  @media screen and (min-width: 1200px) {
    .swiper-button-prev::after {
      margin-top: -40px;
    }

    .swiper-button-next::after {
      margin-top: -40px;
    }
  }


