.not-found {
  /*width: 100%;*/
  max-width: 1111px;
  background-color: #F5F5F5;
}

.not-found__box{
  max-width: 1111px;
  /*margin: 0 auto;*/
}

.not-found__title{
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  color: #181818;
  margin: 58px 0 26px 0;
}

.not-found__about{
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #181818;
  margin: 0 0 111px 0;
  max-width: 520px;
}

.not-found__picture{
  width: 542px;
  height: 340px;
  background-color: white;
  margin: 47px 0 13px 0;
}

.not-found__box{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.not-found__button{
  width: 357px;
  height: 50px;
  border: 2px solid #474747;
  border-radius: 50px;
  background-color: transparent;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #181818;
}
