.not-found {
  width: 100%;
  background-color: #FFFFFF;
  padding-bottom: 73px;
  margin: 0 auto;
  padding-top: 58px;
}

.not-found__box{
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.not-found__title{
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  color: #181818;
  margin: 0 0 26px 0
}

.not-found__about{
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #181818;
  margin: 0 0 97px 0;
  max-width: 520px;
}

.not-found__picture{
  max-width: 401px;
  width: 100%;
  height: 302px;
  background-image: url(../../images/notfoundpic.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 20px 50px 0 0;
  flex-shrink: 1;
}

.not-found__button{
  position: absolute;
  bottom: 20px;
  width: 357px;
  height: 50px;
  border: 2px solid #474747;
  border-radius: 50px;
  background-color: transparent;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #181818;
  transition: all 0.4s ease-out;
}

.not-found__button:hover{
  color: #FFFFFF;
  background-color: #000000;
  box-shadow: 0 0 6px rgba(170, 170, 170, 0.65);
}

@media screen and (max-width: 1279px) {
  .not-found__box{
    max-width: 920px;
  }
}


@media screen and (max-width: 1100px) {
  .not-found__picture{
    margin-left: 30px
  }
}

@media screen and (max-width: 1023px) {
  .not-found__box{
    max-width: 680px;
  }
}

@media screen and (max-width: 767px) {
  .not-found {
    padding: 30px 15px 73px;
    margin-top: 0;
  }
  .not-found__box{
    width: 100%;
    flex-direction: column;
    max-width: 345px;
  }
  .not-found__title{
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 30px;
  }
  .not-found__about{
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 25px;
  }
  .not-found__button{
    font-size: 16px;
    line-height: 19px;
    width: 344px;
  }
  .not-found__picture{
    max-width: 266px;
    height: 228px;
    margin: 0 auto;
  }
  .not-found__button{
    bottom: -50px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 345px;
  }
}

@media screen and (max-width: 375px) {
  .not-found__button{
    width: 97%;
  }
}
