.vacancy-card {
  width:  357px;
  height: 251px;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 0 20px;
  opacity: 0;
  animation: ani 0.5s forwards;
  position: relative;
}

.vacancy-card__title{
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 20px 0 29px;
  color: #181818;
  max-width: 237px;
}

.vacancy-card__amount{
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #969696;
  margin: 0;
}

.vacancy-card__button{
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  line-height: 23px;
  border: none;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.vacancy-card__box{
  margin: 35px 0 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vacancy-card__views{
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #969696;
  width: 18px;
  height: 18px;
  position: relative;
}

.vacancy-card__views::after {
  width: 18px;
  height: 13px;
  background-image: url(../../images/viewsVector.svg);
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 15px;
}

.vacancy-card__share{
  background-image: url(../../images/shareicon2.svg);
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
  top: 20px;
  right: 16px;
}

.vacancy-card__link{
  display: none;
}

@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@media screen and (max-width: 1279px) {
}

@media screen and (max-width: 1023px) {
}

@media screen and (max-width: 767px) {
  .vacancy-card {
    width:  345px;
    height: 189px;
    padding: 0 25px;
  }
  .vacancy-card__title{
    font-size: 18px;
    line-height: 21px;
    margin: 25px 0 15px;
    max-width: 254px;
  }
  .vacancy-card__amount{
    font-size: 16px;
    line-height: 19px;
  }
  .vacancy-card__button{
    font-size: 16px;
    line-height: 19px;
  }
  .vacancy-card__box{
    margin: 20px 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .vacancy-card__views{
    display: none;
  }
  .vacancy-card__share{
    background-image: url(../../images/shareicon2.svg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    top: 25px;
    right: 25px;
  }
  .vacancy-card__link{
    display: block;
    text-decoration: none;
    color: #969696;
  }
}
