html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fafafa;
  font-family: 'YsDisplay', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  --swiper-theme-color: black;
}

* {
  box-sizing: border-box;
}

.app__margins {
  margin: 0 auto;
  padding-left: 165px;
  padding-right: 165px;
}

#app {
  min-height: 100vh;
  min-width: 380px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
