.skills {
  width: 100%;
  background: #F5F5F5;
  color: #181818;
}

.skills__main {
  max-width: 1110px;
  margin: 0 auto;
  padding: 70px 0 50px 0;
  display: flex;
  flex-direction: column;
}

.skills__title {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  margin: 0 0 60px;
}

.skills__paragraph {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 123%;
  max-width: 733px;
  margin: 0;
}

.skills__container-tab {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px 0 45px;
}

.skills__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skills__link {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  margin: 15px 0 0;
  max-width: 451px;
}

.skills__interview {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ED6F5D;
  cursor: pointer;
  opacity: 1;
}

.skills__interview:hover {
  opacity: .7;
}

.skills__section-description {
  display: flex;
  flex-direction: column;
  max-width: 545px;
}

.skills__subtitle {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
}

.skills__box {
  margin: 32px 0 32px;
}

.skills__box:last-of-type {
  margin-bottom: 0;
}

.skills__description-item {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 15px;
}

.skills__description-item:last-of-type {
  margin-bottom: 0;
}

.skills__container-btn {
  margin: 0 auto;
  height: 54px;
  display: flex;
  align-items: center;
}

.skills__btn-look {
  padding: 14px 78px;
  box-sizing: border-box;
  background: #474747;
  border-radius: 50px;
  border: 1px solid #474747;
  color: #FFFFFF;
  margin: 0;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  opacity: 1;
}

.skills__btn-look:hover {
  opacity: .7;
}

.skills__container-work {
  margin: 45px 0 0;
}

.skills__section-row {
  display: flex;
  flex-direction: row;
  margin-top: 45px;
  justify-content: space-between;
}

.skills__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 94px;
  max-width: 334px;
}

.skills__item:last-of-type {
  margin-right: 0;
}

.skills__text {
  margin: 0 0 0 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 123%;
}

.skills__img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
