.header {
  /* position: fixed;
  left: 165px;
  top: 0; */
  max-width: 1110px;
  height: 95px;
  padding: 23px 0 40px 0;
  margin: 0 auto;
  /* background: #f8f8f8; */
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
  z-index: 50;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* .header h1 {
  float: left;
  margin: 0;
  padding: 0 15px;
  font-size: 24px;
  line-height: 56px;
  font-weight: 400;
  color: #fff;
}

.header nav {
  float: right;
  font-size: 100%;
}

.header nav a {
  display: inline-block;
  height: 56px;
  line-height: 56px;
  padding: 0 15px;
  min-width: 50px;
  text-align: center;
  background: rgba(255, 255, 255, 0);
  text-decoration: none;
  color: #fff;
  will-change: background-color;
}

.header nav a:hover,
.header nav a:active {
  background: rgba(0, 0, 0, 0.2);
}

.header nav a.active {
  background: rgba(0, 0, 0, 0.4);
} */

.navigation__link {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  /* height: 56px; */
  padding: 0;
  margin: 0;
  /* min-width: 50px; */
  text-align: center;
  background: rgba(255, 255, 255, 0);
  text-decoration: none;
  color: #181818;
  will-change: background-color;
}

.navigation__link:hover,
.navigation__link:active {
  background: rgba(0, 0, 0, 0.2);
}

.navigation__link.active {
  background: rgba(0, 0, 0, 0.4);
}

.navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation__nenu {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  padding: 0;
  margin: 0;
  width: 100%;
  /* margin-top: 144px; */
}
