.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  margin: 0 auto;
}

.header::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f8f8f8;
  z-index: 2;
  padding: 0;
  margin: 0;
}

.header__section {
  max-width: 1110px;
  height: 95px;
  margin: 0 auto;
  padding-top: 30px;
}

.header__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header__burger {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 1279px) {
  .header__section {
    padding-top: 15px;
    margin: 0 48px;
    height: 60px;
  }
}

@media screen and (max-width: 1023px) {
  .header__section {
    margin: 0 24px;
  }
}

@media screen and (max-width: 857px) {
  body.lock {
    overflow: hidden;
  }

  .header__section {
    margin: 0 20px;
    padding: 15px 0;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 25px;
    height: 16px;
    z-index: 3;
  }

  .header__burger::before,
  .header__burger::after {
    content: '';
    background-color: #181818;
    position: absolute;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger span {
    content: '';
    background-color: #181818;
    position: absolute;
    left: 0;
    top: 7px;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease 0s;
  }

  .header__burger_active::before {
    transform: rotate(45deg);
    top: 7px;
  }

  .header__burger_active::after {
    transform: rotate(-45deg);
    bottom: 7px;
  }

  .header__burger_active span {
    transform: scale(0);
  }

  .navigation__list {
    margin: 0 0 20px 0;
  }
}
