.footer {
  position: relative;
  max-width: 1110px;
  max-height: 100%;
  padding: 50px 0 100px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  /* background: #fff; */
}

.footer__reference {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.footer__ref {
  z-index: 1;
}

.footer__social {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.footer__links {
  width: 100%;
  height: 100%;
  margin-top: 40px;
}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.footer__link {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  padding: 0;
  margin: 0;
  color: #181818;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.3s linear 0.2s;
  white-space: nowrap;
}

.footer__row {
  padding-right: 26px;
}

/* .footer__row:last-of-type {
  padding-right: 0;
} */

.footer__logo:before {
  content: '';
  background-size: 100%, contain;
  background-color: transparent;
  display: flex;
  align-self: flex-start;
  background-size: cover;
  background-size: 36px 30px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 28px;
}

.vk::before {
  background-image: url(../../imagesA/VK.svg);
}

.telegram::before {
  background-image: url(../../imagesA/Telegram.svg);
}

.footer__menu {
  width: 100%;
  height: 100%;
  margin: 0;
  margin-top: 19px;
  padding: 0;
}

.footer__content {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  gap: 32px;
  column-gap: 60px;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__phone {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__phone-link {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 123%;
  padding: 0;
  margin: 0;
  color: #181818;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.3s linear 0.2s;
}

.footer__phone-description {
  margin-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 123%;
  padding: 0;
  margin: 0;
  color: #969696;
}

.footer__info {
  margin-top: 40px;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.footer__text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.footer__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  padding: 0;
  margin: 0;
  margin-right: 370px;
  color: #181818;
  white-space: nowrap;
}

.paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17.6px;
  color: #181818;
  margin: 0;
  padding: 0;
}

.footer__info-item {
  width: 100%;
  padding-bottom: 28px;
}

.footer__info-item:last-of-type {
  padding-bottom: 0;
}

.footer__scroll-to-top {
  position: absolute;
  top: 90px;
  right: -60px;
  /* right: 20px; */
  background-color: transparent;
}
.link:hover {
  opacity: 1;
}

.scroll-to-top:before {
  content: '';
  margin: 0;
  background-size: 100%, contain;
  background-color: transparent;
  display: flex;
  align-self: flex-start;
  background-size: cover;
  background-size: 50px 50px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
}

.scroll-to-top:before {
  background-image: url(../../imagesA/Page_up.svg);
}

.footer__reference {
  z-index: 1;
}

.footer__span {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.footer__logo-ya {
  max-width: 100%;
}

@media screen and (max-width: 1279px) {
  .footer {
    margin: 0 48px;
  }

  .footer__scroll-to-top {
    display: none;
  }

  .footer__copyright {
    margin-right: 300px;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    margin: 0 24px;
  }
}

@media screen and (max-width: 930px) {
  .footer__text {
    justify-content: flex-start;
  }

  .footer__info {
    width: 600px;
  }

  .footer__content {
    grid-template-columns: repeat(1, auto);
  }

  .footer__text {
    margin-top: 53px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .footer__info {
    margin: 0;
    order: 0;
  }

  .footer__copyright {
    order: 1;
    margin-top: 30px;
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    margin: 30px 20px 0px 20px;
    align-items: flex-start;
    padding: 0;
    padding-bottom: 70px;
  }

  .footer__content {
    gap: 17px;
  }

  .footer__reference {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .footer__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
  }

  .footer__list {
    width: 100%;
    justify-content: space-between;
  }

  .footer__phone-description {
    margin-top: px;
    color: #181818;
  }

  .footer__menu {
    margin-top: 32px;
  }

  .footer__phone {
    margin-top: 32px;
  }
}
