.vacancies {
  padding-top: 50px;
  padding-bottom: 100px;
  width: 100%;
  /*max-width: 1111px*/
  background-color: #F8F8F8;;
  padding-left: 165px;
  padding-right: 165px;
}

.vacancies__box{
  max-width: 1110px;
  margin: 0 auto;
}

.vacancies__title{
  margin: 0 0 60px 0;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  color: #181818;
}

.vacancies__button{
  margin: 0;
  position: relative;
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  padding: 0;
  color: #181818
}

.vacancies__button_rewiew{
  max-width: 287px;
  margin-top: 45px;
}

.vacancies__button_master{
  max-width:283px
}

.vacancies__button_active::after{
  background-image: url(../../images/vacanciesactive.svg);
  transition: all .03s ease-out;
}

.vacancies__button_inactive::after{
  background-image: url(../../images/vacancies.svg);
  transition: all .03s ease-out;
}
.vacancies__button::after{
  width: 25px;
  height: 14px;
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: -35px;
  top: 50%;
  transform: translateY(-50%);
}

.vacancies__not-found{
  text-align: center;
}

.vacancies__button-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.vacancies__card-list{
  display: flex;
  flex-direction: row;
  gap: 19px;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  /*display: grid;
  grid-template-columns: repeat(auto-fill,357px);*/
}

.vacancies__more{
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  border: none;
  background-color: transparent;
  text-align: center;
  margin: 40px auto 0;
}

@media screen and (max-width: 1279px) {
}

@media screen and (max-width: 1023px) {
}

@media screen and (max-width: 767px) {
  .vacancies {
    padding-top: 30px;
    padding-bottom: 70px;
    width: 100%;
    /*max-width: 1111px*/
    background-color: #F5F5F5;
    padding-left: 15px;
    padding-right: 15px;
  }

  .vacancies__box{
    width: 100%;
    margin: 0 auto;
  }

  .vacancies__title{
    margin: 0 0 35px 0;
    font-size: 32px;
    line-height: 38px;
  }
  .vacancies__button{
    font-size: 20px;
    line-height: 23px;
  }
  .vacancies__button_master{
    max-width: 154px;
  }
  .vacancies__button_rewiew{
    max-width: 141px;
    margin-top: 30px;
  }
  .vacancies__button::after{
    width: 20px;
    height: 10px;
  }
  .vacancies__card-list{
    gap: 15px;
    justify-content: center;
  }
  .vacancies__more{
    font-size: 16px;
    line-height: 19px;
    margin: 20px auto 0;
  }
}
