.benefits{
  padding-bottom: 100px;
  padding-top: 136px;
  width: 100%;
  background-color: #F5F5F5;
}

.benefits__box{
  max-width: 1110px;
  margin: 0 auto;
}

.benefits__slider{
  display: none;
}

.benefits__title{
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  margin: 0 0 52px 0;
}

.benefits__list{
  display: flex;
  flex-direction: row;
  gap: 19px;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
}


@media screen and (max-width: 767px) {
  .benefits{
    padding: 30px 15px 70px;
    width: 100%;
    background-color: #F8F8F8;
  }
  .benefits__box{
    width: 100%;
  }
  .benefits__title{
    font-size: 32px;
    line-height: 38px;
  }
  .benefits__list{
    display: none;
  }
  .benefits__slider{
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
  }
}
